<section class="price">
    <div id="price" class="price__header">ЦЕНЫ НА ПОТОЛКИ</div>
    <div class="price__wrapper">
        <table class="price__table">
            <!-- <tr>
                <td class="price__product">Потолки БЕЛЬГИЯ (без шва)</td>
                <td class="price__number">120 грн/м2</td>
            </tr> -->
            <tr>
                <td class="price__product">Потолки ГЕРМАНИЯ (Descor)</td>
                <td class="price__number">30 руб/м2</td>
            </tr>
            <tr>
                <td class="price__product">Потолки ФРАНЦИЯ (Clipso)</td>
                <td class="price__number">45 руб/м2</td>
            </tr>
            <tr>
                <td class="price__product">Потолки Китай (MSD)</td>
                <td class="price__number"> 16 руб/м2</td>
            </tr>
            <tr>
                <td class="price__product">Потолки Китай (MSD, шир. от 3,4 м)</td>
                <td class="price__number">20 руб/м2</td>
            </tr>
        </table>
    </div>
    <button class="button price__button button--to-form">ПОЛУЧИТЬ ТОЧНЫЙ РАСЧЕТ</button>
</section>